// The Block properties use states instead of classes, because they are
// intended to be used per-block.

%Block
    
    $_margin: $Block--base_font_size

    +box-sizing(border-box)
    margin      : 0 auto $_margin
    display     : block
    position    : relative
    font-size   : $Block--base_font_size


%BoxBlock
    +extend(Block)
    $_margin: $Block--base_font_size
    $_small_width: $Block--main_column_width / 4 - $Block--body_padding

    width: 100%
    clear: both
    max-width: $Block--main_column_width

    +state(column_position, inset)
        max-width: $Block--text_column_width
    +state(column_position, outset)
        +state(size, small)
            .Block_Content
                width: calc((100% - #{ $Block--text_column_width }) / 2 )

    +respond-to-gt-extra_small

        +state(position, left)
            .Block_Content
                float: left
                margin-right: $_margin

        +state(position, right)
            .Block_Content
                float: right
                margin-left: $_margin
    
        +state(size, small)
            &%-position--center,
            .Block_Content
                max-width: $_small_width

        +state(size, medium)
            +state(position, center)
                max-width: $Block--text_column_width
            .Block_Content
                max-width: $Block--text_column_width
            +state(position, right)
                .Block_Content
                    width: 51%
                        // Not 50%, which, because of rounding, ends up being
                        // 1 pixel too narrow, resulting in a blurry image.
            +state(position, left)
                .Block_Content
                    width: 51%

        +state(size, large)
            +state(position, left)
                .Block_Content
                    width: 100%
                    max-width: $Block--main_column_width / 4 * 3
            +state(position, right)
                .Block_Content
                    width: 100%
                    max-width: $Block--main_column_width / 4 * 3
            +state(position, center)
                max-width: none
                .Block_Content
                    max-width: none

    .Block_Content
        width           : 100%
        float           : none
        margin-left     : 0
        margin-right    : 0
        margin-bottom   : $Block--base_font_size
        max-width       : none
