@import "compass/css3"

$Block-base_font_size       : 18px                          !default
$Block-body_padding         : $Block-base_font_size         !default
$Block-line_height          : 1.4 * $Block-base_font_size   !default
$Block-column_width--text   : 640px                         !default
$Block-column_width--main   : $Block-column_width--text * 2 !default
$Block-heading_size--1      : 2 * $Block-base_font_size     !default
$Block-heading_size--2      : 1.5 * $Block-base_font_size   !default


@import "./Block/_%Block.sass"
@import "./Block/_%EmbedBlock.sass"
@import "./Block/_%ImageBlock.sass"
@import "./Block/_%TextBlock.sass"