
$Cover-default_ratio: 16/9 !default
$Cover-default_height: 800px !default
//

    <div class="Cover">
        <div class="Cover_Image">
            <div class="Cover_Info">
            </div>
        </div>
    </div>

@mixin Cover-intrinsic_ratio_content
    position        : absolute
    top             : 0
    left            : 0
    width           : 100%
    height          : 100% !important

@mixin Cover-intrinsic_ratio_wrapper($ratio: $Cover-default_ratio)
    position        : relative
    height          : 0
    +Cover-set_ratio($ratio)

@mixin Cover-set_ratio($ratio: $Cover-default_ratio)
    padding-bottom: percentage(1 / $ratio)



%Cover
    +box-sizing(border-box)
    // Variant that uses the intrinsic ratio technique to keep the dimensions
    // of the Cover a consistent ratio, specified by the
    // `$Cover--intrinsic_ratio` setting. Assumes use of a `%Cover_Image`
    // element internally.
    // 
    // http://alistapart.com/article/creating-intrinsic-ratios-for-video
    &%-intrinsic_ratio
        +Cover-intrinsic_ratio_wrapper
        > div
            +Cover-intrinsic_ratio_content

@mixin Cover_Image-height($height: false)
    $_scale: 1
    @if $height == quarter
        $_scale: 1/4
    @else if $height == third
        $_scale: 1/3
    @else if $height == half
        $_scale: 1/2
    @else if $height == twothirds
        $_scale: 2/3
    height: $Cover-default_height * $_scale

%Cover_Image
    +box-sizing(border-box)
    background-size     : cover
    background-repeat   : no-repeat
    position            : relative
    background-position : center

    height: $Cover-default_height
    &%-height--quarter
        height: $Cover-default_height * (1 / 4)
    &%-height--third
        height: $Cover-default_height * (1 / 3)
    &%-height--half
        height: $Cover-default_height * (1 / 2)
    &%-height--twothirds
        height: $Cover-default_height * (2 / 3)

    &%-image_align--top
        background-position-y: top

    &%-image_align--bottom
        background-position-y: bottom

    &%-image_align--left
        background-position-x: left

    &%-image_align--right
        background-position-x: right

    &%-effect--pinned
        background-attachment: fixed

%Cover_Info
    +box-sizing(border-box)

    &%-pinned--bottom
        position    : absolute
        bottom      : 0

    &%-pinned--top
        position    : absolute
        top         : 0

    &%-pinned--left
        position    : absolute
        left        : 0

    &%-pinned--right
        position    : absolute
        right       : 0

    &%-centered--horizontal
        text-align  : center
        margin      : 0 auto

@if $formwork-generate_selectors
    +auto-extend(Cover, intrinsic_ratio)
    +auto-extend(Cover_Image, height half, height third, height twothirds, height quarter, image_align top, image_align right, image_align left, image_align bottom, effect pinned)
    +auto-extend(Cover_Info, pinned bottom, pinned top, pinned left, pinned right, centered horizontal)