$Formwork--generate_selectors   : false !default

$Formwork--break--extra_small   : 640px !default
$Formwork--break--small         : 980px !default
$Formwork--break--medium        : 1400px !default
$Formwork--break--large         : 1600px !default
$Formwork--break--extra_large   : 2000px !default

$ItemCover--intrinsic_ratio     : 16/9 !default
$ItemCover--default_height      : 800px !default


// The minimum width of the known-number Item variants.
$Item--min_width: 170px !default

// Each size is specified as a name, the number of levels it responds to,
// the minimum width, the lower-bound of the cover height, and the upper-
// bound of that height. The levels are the maximum number of that size
// that will be on a row.
$Item--variable_sizes: (small 4 200px 200px 275px, medium 3 300px 275px 600px, large 2 400px 400px 600px)

