@import "compass/css3"

@import "./default_config"
@import "./respond-to"

@import "./shiny"



// # Item module
//
// An Item is a block of content that generally has a title, cover, subtitle,
// and “deck” (a description or preview). The common use is as an item in a
// list of stories.
//
// Assumes a markup structure similar to this. The actual components MAY be
// regrouped as desired, though SHOULD be in the same relative order.
//
// ```html
// <div class="Item -intrinsic_ratio">
//     <div class="ItemCoverWrapper">
//         <div class="ItemCover" style="background-image: url(http://placepuppy.it/800/600/)">
//             <div class="ItemInfo -centered--horizontal">
//                 <div class="ItemSupertitle">Supertitle</div>
//                 <h1 class="ItemTitle">Title</h1>
//             </div>
//         </div>
//     </div>
//     <div class="ItemInfo">
//         <div class="ItemSubtitle">Subtitle</div>
//         <p class="ItemDeck">
//             Nulla vitae elit libero, a pharetra augue. Morbi leo risus, porta
//             ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac
//             facilisis in, egestas eget quam.
//         </p>
//     </div>
// </div>
// ```
%Item
    +box-sizing(border-box)
    display         : inline-block
    vertical-align  : top
    width           : 100%

    // Build out the placeholder selectors for the known-number Item variants.
    // These items will stay the given percentage of the available width until
    // they reach the minimum width specified by `$Item--min_width` at which
    // point they will stack, one per row.
    @each $size_set in (fifth 5, fourth 4, third 3, half 2)
        $name: nth($size_set, 1)
        $val: nth($size_set, 2)
        &%-size--#{ $name }
            +respond-to-gt($Item--min_width * $val)
                width: percentage(1 / $val)

                %ItemCover
                    height: $ItemCover--default_height / $val
                    &%-height--half
                        height: $ItemCover--default_height / $val * (1 / 2)
                    &%-height--twothirds
                        height: $ItemCover--default_height / $val * (2 / 3)

    // Build out the placeholder selectors for the more flexible variants.
    // The covers get variants to control their height as well,
    // `-height--half` and `-height--twothirds` that, as named, set the height
    // to be 1/2 or 2/3 of the normal height.
    @each $size_set in $Item--variable_sizes
        $name           : nth($size_set, 1)
        $levels         : nth($size_set, 2)
        $min_width      : nth($size_set, 3)
        $height_lower   : nth($size_set, 4)
        $height_upper   : nth($size_set, 5)

        &%-size--#{ $name }
            min-width: $min_width

            %ItemCover
                height: $height_lower
                &%-height--half
                    height: $height_lower * (1 / 2)
                &%-height--twothirds
                    height: $height_lower * (2 / 3)

            @for $level from 2 through $levels
                +respond-to-gt($min_width * ($level + 1))
                    width: 100% / $level

                    $this_height: $height_lower + ($height_upper - $height_lower) / ($levels - 1)
                    %ItemCover
                        height: $this_height
                        &%-height--half
                            height: $this_height * (1 / 2)
                        &%-height--twothirds
                            height: $this_height * (2 / 3)

    // Variant that uses the intrinsic ratio technique to keep the dimensions
    // of the ItemCover a consistent ratio, specified by the
    // `$ItemCover--intrinsic_ratio` setting. Requires use of an
    // `%ItemCoverWrapper` element around the `%ItemCover`.
    // 
    // http://alistapart.com/article/creating-intrinsic-ratios-for-video
    &%-intrinsic_ratio
        %ItemCoverWrapper
            position        : relative
            height          : 0
            padding-bottom  : percentage(1 / $ItemCover--intrinsic_ratio)
        %ItemCover
            position        : absolute
            top             : 0
            left            : 0
            width           : 100%
            height          : 100%


// Base module for use by all Item components.
%_ItemComponent
    +box-sizing(border-box)


// A component needed when using the `-intrinsic_ratio` variant of the Item.
%ItemCoverWrapper
    @extend %_ItemComponent


// # ItemCover component
//
// An optional component of the Item module that displays a cover image. It
// uses the `style=""` attribute and the `background-image: url()` rule
// instead of an `img` in order to control the aspect ratio.
//
// The cover MAY contain other components, like ItemSupertitle and ItemTitle,
// even ItemDeck, grouped in an ItemInfo component. The ItemInfo allows for
// positioning the interior components as a group.
//
// ```html
// <div class="Item">
//     <div class="ItemCover" style="background-image: url(http://placepuppy.it/800/600/)">
//         <div class="ItemInfo">
//             <div class="ItemSupertitle">Supertitle</div>
//             <h2 class="ItemTitle">Title</h2>
//         </div>
//     </div>
// </div>
// ```
//
// ## Variants
//
//
// ### `-height--*`
//
// The height of the cover is dependent on the size of the Item it is inside. It
// can be controlled with the `-height--half` and `-height--twothirds` variants,
// which set the cover to half or twothirds of its usual height.
//
// The parent Item MAY have a variant like `-intrinsic_ratio`, which causes the
// ItemCover to instead scale with a consistent aspect ratio. This variant is on
// the item since it requires an additional wrapper around the cover, the
// ItemCoverWrapper component. If this is active, then the `-height--*` variants
// don’t make much sense and SHOULD NOT be used.
//
// #### `-height--half`
//
// ```html
// <div class="Item -size--small">
//     <div class="ItemCover -height--half" style="background-image: url(http://placepuppy.it/800/600/)">
//         <div class="ItemInfo">
//             <div class="ItemSupertitle">Supertitle</div>
//             <h2 class="ItemTitle">Title</h2>
//         </div>
//     </div>
// </div>
// ```
//
// #### `-height--twothirds`
//
// ```html
// <div class="Item -size--small">
//     <div class="ItemCover -height--twothirds" style="background-image: url(http://placepuppy.it/800/600/)">
//         <div class="ItemInfo">
//             <div class="ItemSupertitle">Supertitle</div>
//             <h2 class="ItemTitle">Title</h2>
//         </div>
//     </div>
// </div>
// ```
//
// ### `-image_align--*`
//
// By default the cover image is positioned in the center of the component,
// cropping from all sides. The image can be aligned to any of the four edges,
// or some combination of two adjacent edges.
//
// ```html
// <div class="Item -size--fourth">
//     <div class="ItemCover -image_align--top" style="background-image: url(http://placepuppy.it/800/600/)">
//         <div class="ItemInfo">
//             <div class="ItemSupertitle">Supertitle</div>
//             <h2 class="ItemTitle">Title, <code>-image_align--top</code></h2>
//         </div>
//     </div>
// </div><div class="Item -size--fourth">
//     <div class="ItemCover -image_align--right" style="background-image: url(http://placepuppy.it/800/600/)">
//         <div class="ItemInfo">
//             <div class="ItemSupertitle">Supertitle</div>
//             <h2 class="ItemTitle">Title, <code>-image_align--right</code></h2>
//         </div>
//     </div>
// </div><div class="Item -size--fourth">
//     <div class="ItemCover -image_align--bottom" style="background-image: url(http://placepuppy.it/800/600/)">
//         <div class="ItemInfo">
//             <div class="ItemSupertitle">Supertitle</div>
//             <h2 class="ItemTitle">Title, <code>-image_align--bottom</code></h2>
//         </div>
//     </div>
// </div><div class="Item -size--fourth">
//     <div class="ItemCover -image_align--left" style="background-image: url(http://placepuppy.it/800/600/)">
//         <div class="ItemInfo">
//             <div class="ItemSupertitle">Supertitle</div>
//             <h2 class="ItemTitle">Title, <code>-image_align--left</code></h2>
//         </div>
//     </div>
// </div>
// ```
%ItemCover
    @extend %_ItemComponent
    background-size     : cover
    background-repeat   : no-repeat
    position            : relative
    background-position : center

    height: $ItemCover--default_height
    &%-height--half
        height: $ItemCover--default_height * (1 / 2)
    &%-height--twothirds
        height: $ItemCover--default_height * (2 / 3)

    &%-image_align--top
        background-position-y: top

    &%-image_align--bottom
        background-position-y: bottom

    &%-image_align--left
        background-position-x: left

    &%-image_align--right
        background-position-x: right



// General grouping element.
%ItemInfo
    @extend %_ItemComponent

    &%-pinned--bottom
        position    : absolute
        bottom      : 0

    &%-pinned--top
        position    : absolute
        top         : 0

    &%-pinned--left
        position    : absolute
        left        : 0

    &%-pinned--right
        position    : absolute
        right       : 0

    &%-centered--horizontal
        text-align  : center
        margin      : 0 auto



%ItemSupertitle
    @extend %_ItemComponent



%ItemTitle
    @extend %_ItemComponent



%ItemSubtitle
    @extend %_ItemComponent



%ItemDeck
    @extend %_ItemComponent





// Generate the actual selectors for direct usage, instead of @extending.

@if $Formwork--generate_selectors
    @each $selector in ("", CoverWrapper, Cover, Info, Supertitle, Title, Subtitle, Deck)
        .Item#{ $selector }
            @extend %Item#{ $selector }

    .Item
        &.-intrinsic_ratio
            @extend %Item%-intrinsic_ratio
        @each $size in small, medium, large, fifth, fourth, third, half
            &.-size--#{ $size }
                @extend %Item%-size--#{ $size }

    .ItemCover
        &.-image_align--top
            @extend %ItemCover%-image_align--top
        &.-image_align--bottom
            @extend %ItemCover%-image_align--bottom
        &.-image_align--right
            @extend %ItemCover%-image_align--right
        &.-image_align--left
            @extend %ItemCover%-image_align--left
        @each $height in half, twothirds
            &.-height--#{ $height }
                @extend %ItemCover%-height--#{ $height }

    .ItemInfo
        &.-pinned--top
            @extend %ItemInfo%-pinned--top
        &.-pinned--bottom
            @extend %ItemInfo%-pinned--bottom
        &.-pinned--left
            @extend %ItemInfo%-pinned--left
        &.-pinned--right
            @extend %ItemInfo%-pinned--right
